# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
balance_bk*.log
report_bk*.log
trade_bk*.log
go-cryptoinfo-gather
run

*.sh
vendor